{:paths ["src" "resources"]

 :deps {org.clojure/clojure                   {:mvn/version "1.12.5"}
        org.clojure/core.async                {:mvn/version "1.8.741"}
        com.github.seancorfield/next.jdbc     {:mvn/version "1.3.1118"}
        metosin/malli                         {:mvn/version "0.20.1"}
        com.github.seancorfield/honeysql      {:mvn/version "2.7.1390"}
        org.duckdb/duckdb_jdbc                {:mvn/version "1.5.4.0"}
        org.xerial/sqlite-jdbc                {:mvn/version "3.53.2.0"}
        integrant/integrant                   {:mvn/version "1.0.1"}}

 :aliases
 {:run   {:main-opts ["-m" "ilanga.main"]}

  :test  {:extra-paths ["test"]}

  :dev   {:extra-paths ["dev"]
          :extra-deps  {nrepl/nrepl         {:mvn/version "1.7.0"}
                        cider/cider-nrepl   {:mvn/version "0.60.0"}
                        integrant/repl      {:mvn/version "0.5.1"}}}

  :build {:deps      {io.github.clojure/tools.build {:mvn/version "0.10.14"}}
          :ns-default build}}}
